.TabMenus {
  .container {
    border: 1px solid #ccc;
  }
  .tabList {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ccc;
  }
  .tab {
    flex: 0 0 25%;
    overflow: hidden;
    box-sizing: border-box;
    > button {
      display: block;
      width: 100%;
      padding: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
    & + .tab {
      border-left: 1px solid #ccc;
    }
    &.current > button {
      background-color: #bde;
    }
  }
  .description {
    padding: 15px;
  }

  .tabMenu2 .description {
    display: none;
    &.current {
      display: block;
    }
  }

  .tabMenu3-1 {
    .tab > button {
      transition: ease-out 500ms;
    }
    .tabPanel {
      position: relative;
      overflow: hidden;
    }
    .description {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 15px;
      opacity: 0;
      transform: translateY(100%);
      transition:
        opacity ease-in 300ms,
        transform ease-out 500ms;
      &.current {
        position: relative;
        opacity: 1;
        transform: translateY(0);
        transition:
          opacity ease-out 300ms 200ms,
          transfrom ease-out 500ms;
      }
    }
  }

  @keyframes enter {
    0% {
      transform: translate(40px, 0);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes exit {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, 40px);
      opacity: 0;
    }
  }

  .tabMenu3-2 {
    .tab > button {
      transition: ease-out 500ms;
    }
    .tabPanel {
      position: relative;
      overflow: hidden;
    }
    .description {
      position: absolute;
      transform: translate(0, 40px);
      opacity: 0;
      box-sizing: border-box;
      padding: 15px;
      left: 0;
      right: 0;
      top: 0;
      &.enter {
        position: relative;
        animation: enter 300ms ease-out 200ms forwards;
      }
      &.exit {
        animation: exit 300ms ease-in forwards;
      }

      &.current {
        position: relative;
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  .tabMenu3-3 {
    .tab > button {
      transition: ease-out 500ms;
    }
    .tabPanel {
      position: relative;
      overflow: hidden;
    }
    .description {
      position: absolute;
      transform: translate(0, 40px);
      opacity: 0;
      box-sizing: border-box;
      padding: 15px;
      left: 0;
      right: 0;
      top: 0;
      overflow: hidden;
      height: 0;
      padding: 0;
      &.enter,
      &.exit,
      &.current {
        height: auto;
        padding: 15px;
      }

      &.enter {
        position: relative;
        animation: enter 300ms ease-out 200ms forwards;
      }
      &.exit {
        animation: exit 300ms ease-in forwards;
      }

      &.current {
        position: relative;
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  .tabMenu5 {
    position: relative;
    padding: 0;
    margin: 0;

    .item {
      list-style: none;

      .tab {
        position: absolute;
        top: 0;
        width: 25%;
        box-sizing: border-box;
        padding: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
      }

      &:first-child .tab {
        left: 0;
        border-left: none;
      }
      &:nth-child(2) .tab {
        left: 25%;
      }
      &:nth-child(3) .tab {
        left: 50%;
      }
      &:nth-child(4) .tab {
        left: 75%;
      }
      .description {
        height: 0;
        padding: 0;
        overflow: hidden;
      }

      .input {
        display: none;
        &:checked {
          + .tab {
            background-color: #bde;
          }
          ~ .description {
            margin-top: 50px;
            height: auto;
            padding: 15px;
          }
        }
      }
    }
  }
}
